:host {
  display: block;
}
.title {
  font-size: 2rem;
  font-weight: 500;
  padding: 2rem;
  text-decoration: underline;
}
.list {
  padding: 2rem 1.6rem;
  &-header {
    &-form {
      display: flex;
      justify-content: flex-start;
      &-submit {
        margin-left: 2rem;
      }
      &-label {
        color: black;
        font-size: 1.6rem;
      }
      &-submit {
        font-size: 1.6rem;
      }
      &-input {
        width: 60%;
        padding: 1rem;
      }
      &-input, &-input:focus {
        border-top: none;
        border-right: none;
        border-left: 0;
        border-bottom: 0.1rem solid black;
        outline: none;
      }
    }
  }
  &-content {
    margin-top: 5rem;
    &-panel {
      &-title {
        flex-grow: initial;
        @media (min-width: 766px) {
          width: 50rem;
        }
      }
      &-header {
        @media (max-width: 404px) {
          padding: 2rem;
        }
      }
    }
  }
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}