<div class="title" *ngIf="!(startships$ | async)?.length">Spaceship's list</div>
<div class="list" *ngIf="startships$ | async as starshipList">
  <div class="list-header">
    <form class="list-header-form" [formGroup]="searchForm">
      <label for="search">Search Bar : </label>
      <input
        id="search"
        autocomplete="off"
        class="list-header-form-input"
        formControlName="search"
        matInput
        placeholder="your research..."
      />
    </form>
  </div>
  <div class="list-content">
    <mat-accordion multi>
      <mat-expansion-panel
        *ngFor="
          let starship of starshipList
            | starshipsfilter: searchForm.value.search
        "
      >
        <mat-expansion-panel-header class="list-content-panel-header">
          <mat-panel-title class="list-content-panel-title">
            {{ starship?.name }}
          </mat-panel-title>
          <mat-panel-description>
            {{ starship?.manufacturer }} &nbsp;
            <mat-icon>corporate_fare</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-spaceship
          [image]="starship?.imageUrl"
          [name]="starship?.name"
          [starshipClass]="starship?.starship_class"
          [atmosphereSpeed]="starship?.max_atmosphering_speed"
          [capacity]="starship?.cargo_capacity"
          [passengersNbr]="starship?.passengers"
          [costCredits]="starship?.cost_in_credits"
          [pilots]="starship?.pilots"
          [id]="starship?.id"
          [model]="starship?.model"
        ></app-spaceship>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div class="spinner" *ngIf="!(startships$ | async)?.length">
  <mat-spinner></mat-spinner>
</div>
