:host {
  display: block;
}

.spaceship {
  display: flex;
  @media (max-width: 660px) {
    flex-direction: column;
  }
  &-content {
    margin-left: 1rem;
    @media (max-width: 660px) {
      margin-left: 0rem;
      margin-top: 3rem;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.6rem;
    font-weight: 500;
    span {
      font-weight: normal;
    }
    &-part {
      margin-left: 10rem;
      @media (max-width: 660px) {
        margin-left: 0rem;
        margin-top: 3rem;
      }
      &-title {
        font-size: 1.6rem;
        font-weight: 500;
        text-decoration: underline;
      }
      &-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        &-link {
          margin-top: 2rem;
        }
      }
    }
  }
}
