<div class="spaceship">
  <div class="spaceship-icon">
    <img [src]="image" alt="" width="200px" height="200px" />
  </div>
  <div class="spaceship-content">
    <div class="spaceship-content-name">
      Name : <span [innerText]="name"></span>
    </div>
    <div class="spaceship-content-class">
      Class : <span [innerText]="starshipClass"></span>
    </div>
    <div class="spaceship-content-model">
      Model : <span [innerText]="model"></span>
    </div>
    <div class="spaceship-content-speed">
      Speed : <span [innerText]="atmosphereSpeed"></span>
    </div>
    <div class="spaceship-content-capacity">
      Cargo Capacity : <span [innerText]="capacity"></span>
    </div>
    <div class="spaceship-content-passengersNbr">
      Passengers : <span [innerText]="passengersNbr"></span>
    </div>
    <div class="spaceship-content-costCredits" *ngIf="isNumber(costCredits)">
      Cost :
      <span [innerText]="costCredits | currency: 'CAD':'symbol':'1.0-0'"></span>
    </div>
  </div>
  <div class="spaceship-content-part">
    <div class="spaceship-content-part-title">Pilots</div>
    <div class="spaceship-content-part-body">
      <a
        [routerLink]="['/pilot', id, pilot.id]"
        routerLinkActive="router-link-active"
        class="spaceship-content-part-body-link"
        *ngFor="let pilot of pilots"
        [innerText]="pilot?.name"
      ></a>
      <p
        class="spaceship-content-part-body-link"
        *ngIf="!pilots || (!!pilots && !pilots.length)"
      >
        n/a
      </p>
    </div>
  </div>
</div>
