:host {
  display: block;
}
.title {
  font-size: 2rem;
  font-weight: 500;
  padding: 2rem;
  text-decoration: underline;
}
.pilot {
  &-card {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 0;
    margin-top: 1rem;
    margin-left: 2rem;
    &-item {
      &:not(:first-child) {
        margin-top: 1rem;
      }
      display: flex;
      align-items: center;
      font-size: 1.8rem;
    }
  }
  &-btn {
    margin-top: 5rem;
    margin-left: 1rem;
  }
}

.divider {
  display: none;
  @media (max-width: 474px) {
    display: block;
    margin: 0 -2rem;
  }
}

.only-mobile {
  display: none;
  @media (max-width: 474px) {
    display: inline;
  }
}
