<div class="title">Pilot's detail</div>
<div class="pilot" *ngIf="pilot$ | async as pilotInfo">
  <mat-card class="pilot-card">
    <div class="pilot-icon">
      <img
        [src]="
          pilotInfo?.gender === 'male' ? 'assets/man.png' : 'assets/woman.png'
        "
        alt=""
      />
    </div>
    <hr class="divider" />
    <div class="pilot-content">
      <div class="pilot-content-item pilot-content-name">
        <mat-icon>person</mat-icon>
        &nbsp;
        <span title="name">{{ pilotInfo?.name }}</span>
      </div>
      <div class="pilot-content-item pilot-content-eye">
        <mat-icon>remove_red_eye</mat-icon>&nbsp;<span title="eye color">{{
          pilotInfo?.eye_color
        }}</span>
      </div>
      <div class="pilot-content-item pilot-content-hair">
        <mat-icon>face</mat-icon>&nbsp;
        <span title="hair color">{{ pilotInfo?.hair_color }}</span>
      </div>
      <div class="pilot-content-item pilot-content-height">
        <mat-icon>height</mat-icon>&nbsp;<span title="height">{{
          pilotInfo?.height
        }}</span>
      </div>
      <div class="pilot-content-item pilot-content-mass">
        <mat-icon>fitness_center</mat-icon>&nbsp;<span title="mass">{{
          pilotInfo?.mass
        }}</span>
      </div>
      <div class="pilot-content-item pilot-content-skin-color">
        <mat-icon>color_lens</mat-icon>&nbsp;
        <span title="skin color">{{ pilotInfo?.skin_color }}</span>
      </div>
    </div>
  </mat-card>
</div>
<button mat-raised-button color="primary" class="pilot-btn" (click)="back()">
  Back
</button>
